@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: Nunito, Poppins, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* background-image */
.tk-blob {
  animation: blob-turn var(--time, 30s) linear infinite;
  fill: var(--fill, #7600f8);
  position: relative;
  transform-origin: center
}

.tk-blob svg {
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center
}

.tk-blob svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg)
  }

  13% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)))
  }

  18% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)))
  }

  24% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)))
  }

  25% {
    transform: skewY(calc((2.5deg) * var(--amount, 2)))
  }

  26% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)))
  }

  32% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)))
  }

  37% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)))
  }

  50% {
    transform: skewY(0deg)
  }

  63% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)))
  }

  68% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)))
  }

  74% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)))
  }

  75% {
    transform: skewY(calc((-2.5deg) * var(--amount, 2)))
  }

  76% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)))
  }

  82% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)))
  }

  87% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)))
  }

  100% {
    transform: skewY(0deg)
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(.9) scaleY(1)
  }

  25% {
    transform: scaleX(.9) scaleY(.9)
  }

  50% {
    transform: scaleX(1) scaleY(.9)
  }

  75% {
    transform: scaleX(.9) scaleY(.9)
  }

  100% {
    transform: scaleX(.9) scaleY(1)
  }
}

.legend-section {
  display: flex;
  font-family: Nunito;
  flex-direction: row;
}

.label-data {
  font-size: 15px;
  padding: 0 20px 0 5px;
  text-align: left;
}

.numbers {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 0 30px;
}

.custom-line::before {
  background-color: #535bf2
}

@tailwind base;
@tailwind components;
@tailwind utilities;